body
{
    font-family: 'Courier New', Courier, monospace;
}
html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
header
{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #cf3328;
}
main
{
    text-align: center;
}
header img
{
    width: 6%;
    margin: 0px 5%;
}
header ul {
    float: right;
    width: 84%;
}
header ul li {
    display: inline-block;
    padding: 35px 50px;
}
header ul li a
{
    text-decoration: none;
    color: #ffffff;
    transition: color 2s;
}
header ul li a:hover{
    color: #61130a;
}

section
{
    position: relative;
}
main img
{
    margin-top: 10%;
    width: 90%;
    height: 450px;
}
main div h1 {
    position: absolute;
    top: 15%;
    font-size: 40px;
    left: 35%;
    color: #fff;
    animation: animate 3s ease-in;
}
main div p {
    position: absolute;
    top: 25%;
    font-size: 20px;
    left: 21%;
    color: #fff;
    animation: animatepar 3s ease-in;

}
main div img {
    width: 300px;
    height: 357px;
    padding-right: 4.8%;
    padding-left: 80px;
    margin-top: 2%;
}
article
{
    margin-top: 5%;
    margin-bottom: 5%;
    
}
article img {
    float: left;
    width: 480px !important;
    height: 400px !important;
    margin-left: 7%;
    margin-right: 14px;
}
article p
{
    padding-top: 1%;
    height: 219px;
    overflow: auto;
    margin-bottom: 20px;
    overflow-y: hidden;
}
article b
{
    padding-left: 4%;
}
cite
{
    font-size: 20px;
}
article div a
{
    border: 1px solid #61130a;
    background-color: #61130a;
    text-decoration: none;
    margin-top: 5%;
    padding: 5px;
    color: #ffffff;
    transition:background-color 1s ease-in ;
}
article div a:hover
{
    background-color: #cf3328;
}

footer
{
    background-color: #61130a;

}
footer {
    text-align: center;
    padding: 2%;
    color: #fff;
}
  


article h5 {
    font-size: 25px;
    padding-bottom: 4%;
    padding-top: 2%;
    
}

